<h1><%= t('.cards') %></h1>
<div class='col-md-4'>
<%= link_to t('common.new'), new_card_path %>
<br />
<table class='table'>

<% @cards.each do |card| %>
  <tr>
    <td><%= card.name %></td>
    <td><%= card.balance %></td>
    <td><%= link_to t('common.edit'), edit_card_path(card) %>
        <%= link_to t('common.destroy'), card, method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to t('common.back'), root_path %>
</div>
