<h1>Cards#show</h1>
<%= link_to 'New', cards_new_path %>
<br />
<% @cards.each do |card| %>
  <%= card.name %>
  <%= card.balance %>
<%= link_to 'Edit', cards_edit_path(card) %>
<%= link_to 'Destroy', cards_destroy_path, method: :delete %>
<% end %>

