<div class='col-md-4'>
  <%= simple_form_for @tran do |f| %>
    <%= f.input :date %>
    <%= f.input :quality %>
    <%= f.association :type, label_method: :operation, value_method: :id, include_blank: false  %>
    <%= f.association :card, label_method: :name, value_method: :id, include_black: false %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
