<h1><%= t('.trans') %></h1>
<div class='col-md-10'>
  <%= link_to t('common.new'), new_tran_path %>
  <table class='table'>
    <% @trans.each do |tran| %> 
      <tr>
        <td><%= tran.date %></td>
        <td><%= tran.type.operation %></td>
        <td><%= tran.quality %></td>
        <td><%= tran.card.name %></td>
        <td><%= link_to t('common.edit'), edit_tran_path(tran) %>
        <%= link_to t('common.destroy'), tran, method: :delete %></td>
      </tr>
<% end %>
  </table>
  <%= link_to t('common.back'), root_path %>
</div>
